<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div [ngSwitch]="field.type" *ngFor="let field of fields">
    <div class="form-control input-text" *ngSwitchCase="FieldType.String">
      <label [for]="field.name">{{ field.label }}</label>
      <input [placeholder]="field.placeholder || ''" type="text" [formControlName]="field.name" />

      <app-form-field-errors
        [field]="myForm.get(field.name)"
        [fieldName]="field.name"
      ></app-form-field-errors>
    </div>

    <div class="form-control input-text" *ngSwitchCase="FieldType.Number">
      <label [for]="field.name">{{ field.label }}</label>
      <input [placeholder]="field.placeholder || ''" type="number" [formControlName]="field.name" />

      <app-form-field-errors
        [field]="myForm.get(field.name)"
        [fieldName]="field.name"
      ></app-form-field-errors>
    </div>

    <div class="form-control input-checkbox" *ngSwitchCase="FieldType.Checkbox">
      <input type="checkbox" [formControlName]="field.name" />
      <label [for]="field.name">{{ field.label }}</label>

      <app-form-field-errors
        [field]="myForm.get(field.name)"
        [fieldName]="field.name"
      ></app-form-field-errors>
    </div>

    <div class="form-control input-text" *ngSwitchCase="FieldType.Text">
      <label [for]="field.name">{{ field.label }}</label>
      <textarea [formControlName]="field.name" cols="30" rows="10"></textarea>

      <app-form-field-errors
        [field]="myForm.get(field.name)"
        [fieldName]="field.name"
      ></app-form-field-errors>
    </div>

    <div class="form-control input-checkbox" *ngSwitchCase="FieldType.Radio">
      <input type="radio" [value]="field.value" [name]="field.name" [formControlName]="field.name" />
      <label [for]="field.name">{{ field.label }}</label>
    </div>

    <div class="form-control input-select" *ngSwitchCase="FieldType.Select">
      <label [for]="field.name">{{ field.label }}</label>
      <select [value]="field.value || ''" [formControlName]="field.name" [name]="field.name">
        <option [value]="option.value" *ngFor="let option of field.options">{{ option.display }}</option>
      </select>

      <app-form-field-errors
        [field]="myForm.get(field.name)"
        [fieldName]="field.name"
      ></app-form-field-errors>
    </div>
  </div>

  <code>{{ myForm.value | json }}</code>
  <br />

  <app-button style="margin-top: 20px" type="submit">Submit</app-button>
</form>
