.app-header {
  padding: 20px;
  background: #202020;
  margin-bottom: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.router-link {
  color: #eee;
  font-weight: bold;
  margin: 0 10px;
  text-decoration: underline;
}
