.app-popup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #202020;

  padding: 30px 15px;

  transition: 0.3s ease-out;

  width: 600px;
  border-radius: 20px;
  border: 2px dotted rgb(39, 39, 39);
}

.hidden {
  top: -20%;
  opacity: 0;
}

.visible {
  top: 50%;
  opacity: 1;
}
