.app-left-side {
  min-width: 400px;
  background: #fdfdfd;
  padding: 0 30px;

  min-height: 100vh;
  box-shadow: 0 10px 10px #ccc;

  border-right: 2px dotted rgb(216, 216, 216);
}

.app-left-side-head {
  text-align: center;
  border-bottom: 2px solid #006154;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
}
