.app-popup-yt-content {
  text-align: center;
  color: #eee;
}

.app-yt-link-field {
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  width: 100%;

  border: 1px solid transparent;
  margin: 20px 0;
  color: #eee;
  background-color: #414141;
}

.app-yt-link-field:focus {
  border: 1px solid rgb(119, 119, 119);
}

.btns-group {
  width: 50%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
